{% extends 'base.html' %}

{% block content %}
{% load static %}


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row d-flex-all justify-content-center ">
        <div class="col-7">
            <form method="POST" action="{% url 'change_password' %}" enctype="multipart/form-data" class="form">
                {% csrf_token %}

                <div class="   form text-white">
                    {{ form.as_p }}
                </div>
                <input type="submit" value="Update" class="theme-btn text-white">
            </form>
        </div>

    </div>
</div>


{% endblock %}