{% extends 'base.html' %}

{% block content %}

<!-- Banner Style One Start -->
<section class="banner-style-one">
  <div class="parallax" style="background-image: url(https://via.placeholder.com/1920x640);"></div>
  <div class="container">
    <div class="row">
      <div class="banner-details">
        <h2>Features & Benefits</h2>
        <p>our values and vaulted us to the top of our industry.</p>
      </div>
    </div>
  </div>
  <div class="breadcrums">
    <div class="container">
      <div class="row">
        <ul>
          <li>
            <a href="{% url 'home' %}">
              <i class="fa-solid fa-house"></i>
              <p>Home</p>
            </a>
          </li>
          <li class="current">
            <p>Features & Benefits</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Banner Style One End -->

<!-- About Style One Start -->
<section class="gap about-style-one">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-data-left">
          <figure>
            <img src="https://via.placeholder.com/308x470" alt="About One">
          </figure>
          <figure>
            <img src="https://via.placeholder.com/308x470" alt="About One">
          </figure>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-data-right">
          <span>Welcome to Fitness First Gym Center</span>
          <h2>Fitness Studio &amp; Gym For Ladies or Men's</h2>
          <div class="about-info">
            <p>
              Regular trips to the gym are great, but don't worry if you can't find a large chunk of time to exercise
              every day. Our portfolio includes dozens of successfully completed projects of houses of different
              storeys, with high–quality finishes and good repairs. Building houses is our vocation!
            </p>
            <figure>
              <img class="light-icon" src="assets/images/signature.png" alt="Signature">
              <img class="dark-icon" src="assets/images/signature-1.png" alt="Signature">
            </figure>
            <h3>Marqo Oliva</h3>
            <h4>Director and CEO of Gym Center</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Style One End -->

<!-- Features & Benefits -->
<section class="gap no-top core-values">
  <div class="heading">
    <figure>
      <img src="assets/images/heading-icon.png" alt="Heading Icon">
    </figure>
    <span>MAKE A DIFFERENCE</span>
    <h2>Features & Benefits</h2>
  </div>
  <div class="container">
    <div class="row">
      <ul>
        <li>
          <div class="data">
            <h3>Fitness Platform</h3>
            <p>We are caring—with a deep concern for and kindness to one another. We believe in the boundless potential
              of all people and feel a great responsibility to uplift one another and our families, and positively
              impact our communities.</p>
          </div>
          <div class="image">
            <figure>
              <img class="w-100" src="https://via.placeholder.com/538x301" alt="image 1">
            </figure>
          </div>
        </li>
        <li>
          <div class="image">
            <figure>
              <img class="w-100" src="https://via.placeholder.com/538x301" alt="image 1">
            </figure>
          </div>
          <div class="data">
            <h3>Professional Environment</h3>
            <p>We are caring—with a deep concern for and kindness to one another. We believe in the boundless potential
              of all people and feel a great responsibility to uplift one another and our families, and positively
              impact our communities.</p>
          </div>
        </li>
        <li>
          <div class="data">
            <h3>Hygiene facilities</h3>
            <p>We are caring—with a deep concern for and kindness to one another. We believe in the boundless potential
              of all people and feel a great responsibility to uplift one another and our families, and positively
              impact our communities.</p>
          </div>
          <div class="image">
            <figure>
              <img class="w-100" src="https://via.placeholder.com/538x301" alt="image 1">
            </figure>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- End -->

<!-- Gallery Style One Start -->
<div class="gallery-style-one">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure>
          <a data-fancybox="gallery" href="https://via.placeholder.com/480x430">
            <img class="img-fluid w-100" src="https://via.placeholder.com/480x430" alt="Gallery 1">
          </a>
        </figure>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure>
          <a data-fancybox="gallery" href="https://via.placeholder.com/480x430">
            <img class="img-fluid w-100" src="https://via.placeholder.com/480x430" alt="Gallery 2">
          </a>
        </figure>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure>
          <a data-fancybox="gallery" href="https://via.placeholder.com/480x430">
            <img class="img-fluid w-100" src="https://via.placeholder.com/480x430" alt="Gallery 3">
          </a>
        </figure>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure>
          <a data-fancybox="gallery" href="https://via.placeholder.com/480x430">
            <img class="img-fluid w-100" src="https://via.placeholder.com/480x430" alt="Gallery 4">
          </a>
        </figure>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure>
          <a data-fancybox="gallery" href="https://via.placeholder.com/480x430">
            <img class="img-fluid w-100" src="https://via.placeholder.com/480x430" alt="Gallery 5">
          </a>
        </figure>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure>
          <a data-fancybox="gallery" href="https://via.placeholder.com/480x430">
            <img class="img-fluid w-100" src="https://via.placeholder.com/480x430" alt="Gallery 6">
          </a>
        </figure>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure>
          <a data-fancybox="gallery" href="https://via.placeholder.com/480x430">
            <img class="img-fluid w-100" src="https://via.placeholder.com/480x430" alt="Gallery 7">
          </a>
        </figure>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure>
          <a data-fancybox="gallery" href="https://via.placeholder.com/480x430">
            <img class="img-fluid w-100" src="https://via.placeholder.com/480x430" alt="Gallery 8">
          </a>
        </figure>
      </div>
    </div>
  </div>
</div>
<!-- Gallery Style One End -->

<!-- Innovation Start -->
<section class="gap innovation">
  <div class="heading">
    <span>MAKE A DIFFERENCE</span>
    <h2>Innovation in Action</h2>
  </div>
  <div class="container">
    <div class="row">
      <ul>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>Personal trainers</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>Build up cardiovascular endurance</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>Employ the proper fitness</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>Functional training tools</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>Aerobic exercise</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>Cardio equipment</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- Innovation End -->

<!-- CTA Section Start -->
<section class="cta-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="cta-data">
          <h2>Let's Start Workout!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adi piscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal1" class="theme-btn">Build a
            Project </a>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="cta-data">
          <figure>
            <img src="https://via.placeholder.com/858x557" alt="Client Images">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CTA Section End -->
{% endblock %}