{% extends 'base.html' %}
{% block content %}
<!-- Banner Style One Start -->
<section class="banner-style-one">
  <div class="parallax" style="background-image: url(https://via.placeholder.com/1920x640);"></div>
  <div class="container">
    <div class="row">
      <div class="banner-details">
        <h2>Our Team</h2>
        <p>our values and vaulted us to the top of our industry.</p>
      </div>
    </div>
  </div>
  <div class="breadcrums">
    <div class="container">
      <div class="row">
        <ul>
          <li>
            <a href="{% url 'home' %}">
              <i class="fa-solid fa-house"></i>
              <p>Home</p>
            </a>
          </li>
          <li class="current">
            <p>Our Team</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Banner Style One End -->

<!-- Team Style Two Start -->
<section class="gap team-style-one">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-3">
        <div class="team-data item">
          <div class="team-info">
            <h3>Gorden Qlark</h3>
            <p>CROSSFIT COACH</p>
            <div class="team-social-media">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="flaticon-twitter"></i></a>
              <a href="#"><i class="flaticon-instagram"></i></a>
            </div>
            <svg width="261" height="235" viewBox="0 0 261 235" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M261 0L190.483 144.088H128.135L162.104 102.062L188.333 45.885H89.8666L70.0873 87.4818H117.815L0 235L49.0181 125.219H0L61.9176 0H261Z">
              </path>
            </svg>
          </div>
          <div class="team-image">
            <figure>
              <img src="https://via.placeholder.com/327x430" alt="team-3">
            </figure>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-data item">
          <div class="team-info">
            <h3>Moniqa Linda</h3>
            <p>BODYBUILDING COACH</p>
            <div class="team-social-media">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="flaticon-twitter"></i></a>
              <a href="#"><i class="flaticon-instagram"></i></a>
            </div>
            <svg width="261" height="235" viewBox="0 0 261 235" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M261 0L190.483 144.088H128.135L162.104 102.062L188.333 45.885H89.8666L70.0873 87.4818H117.815L0 235L49.0181 125.219H0L61.9176 0H261Z">
              </path>
            </svg>
          </div>
          <div class="team-image">
            <figure>
              <img src="https://via.placeholder.com/327x430" alt="team-3">
            </figure>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-data item">
          <div class="team-info">
            <h3>Robert Jessi</h3>
            <p>BODYBUILDING COACH</p>
            <div class="team-social-media">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="flaticon-twitter"></i></a>
              <a href="#"><i class="flaticon-instagram"></i></a>
            </div>
            <svg width="261" height="235" viewBox="0 0 261 235" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M261 0L190.483 144.088H128.135L162.104 102.062L188.333 45.885H89.8666L70.0873 87.4818H117.815L0 235L49.0181 125.219H0L61.9176 0H261Z">
              </path>
            </svg>
          </div>
          <div class="team-image">
            <figure>
              <img src="https://via.placeholder.com/327x430" alt="team-3">
            </figure>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-data item">
          <div class="team-info">
            <h3>Willimes Tomes</h3>
            <p>BODYBUILDING COACH</p>
            <div class="team-social-media">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="flaticon-twitter"></i></a>
              <a href="#"><i class="flaticon-instagram"></i></a>
            </div>
            <svg width="261" height="235" viewBox="0 0 261 235" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M261 0L190.483 144.088H128.135L162.104 102.062L188.333 45.885H89.8666L70.0873 87.4818H117.815L0 235L49.0181 125.219H0L61.9176 0H261Z">
              </path>
            </svg>
          </div>
          <div class="team-image">
            <figure>
              <img src="https://via.placeholder.com/327x430" alt="team-3">
            </figure>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-data item">
          <div class="team-info">
            <h3>Bannie Garloc</h3>
            <p>CROSSFIT COACH</p>
            <div class="team-social-media">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="flaticon-twitter"></i></a>
              <a href="#"><i class="flaticon-instagram"></i></a>
            </div>
            <svg width="261" height="235" viewBox="0 0 261 235" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M261 0L190.483 144.088H128.135L162.104 102.062L188.333 45.885H89.8666L70.0873 87.4818H117.815L0 235L49.0181 125.219H0L61.9176 0H261Z">
              </path>
            </svg>
          </div>
          <div class="team-image">
            <figure>
              <img src="https://via.placeholder.com/327x430" alt="team-3">
            </figure>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-data item">
          <div class="team-info">
            <h3>Jessoca Romin</h3>
            <p>BODYBUILDING COACH</p>
            <div class="team-social-media">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="flaticon-twitter"></i></a>
              <a href="#"><i class="flaticon-instagram"></i></a>
            </div>
            <svg width="261" height="235" viewBox="0 0 261 235" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M261 0L190.483 144.088H128.135L162.104 102.062L188.333 45.885H89.8666L70.0873 87.4818H117.815L0 235L49.0181 125.219H0L61.9176 0H261Z">
              </path>
            </svg>
          </div>
          <div class="team-image">
            <figure>
              <img src="https://via.placeholder.com/327x430" alt="team-3">
            </figure>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-data item">
          <div class="team-info">
            <h3>Qlark Hornick</h3>
            <p>BODYBUILDING COACH</p>
            <div class="team-social-media">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="flaticon-twitter"></i></a>
              <a href="#"><i class="flaticon-instagram"></i></a>
            </div>
            <svg width="261" height="235" viewBox="0 0 261 235" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M261 0L190.483 144.088H128.135L162.104 102.062L188.333 45.885H89.8666L70.0873 87.4818H117.815L0 235L49.0181 125.219H0L61.9176 0H261Z">
              </path>
            </svg>
          </div>
          <div class="team-image">
            <figure>
              <img src="https://via.placeholder.com/327x430" alt="team-3">
            </figure>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-data item">
          <div class="team-info">
            <h3>Lorance Oliver</h3>
            <p>BODYBUILDING COACH</p>
            <div class="team-social-media">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="flaticon-twitter"></i></a>
              <a href="#"><i class="flaticon-instagram"></i></a>
            </div>
            <svg width="261" height="235" viewBox="0 0 261 235" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M261 0L190.483 144.088H128.135L162.104 102.062L188.333 45.885H89.8666L70.0873 87.4818H117.815L0 235L49.0181 125.219H0L61.9176 0H261Z">
              </path>
            </svg>
          </div>
          <div class="team-image">
            <figure>
              <img src="https://via.placeholder.com/327x430" alt="team-3">
            </figure>
          </div>
        </div>
      </div>
      <div class="gym-pagination">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="JavaScript:void(0)"><i
                  class="fa-solid fa-arrow-left-long"></i></a></li>
            <li class="page-item"><a class="page-link" href="JavaScript:void(0)">01</a></li>
            <li class="page-item"><a class="page-link" href="JavaScript:void(0)">02</a></li>
            <li class="page-item"><a class="page-link" href="JavaScript:void(0)">03</a></li>
            <li class="page-item space"><a class="page-link" href="JavaScript:void(0)">..........</a></li>
            <li class="page-item"><a class="page-link" href="JavaScript:void(0)">08</a></li>
            <li class="page-item"><a class="page-link" href="JavaScript:void(0)"><i
                  class="fa-solid fa-arrow-right-long"></i> </a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- Team Style Two End -->
{% endblock %}