<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="gym.css">
    <title>ResetPassword</title>
</head>

<body>

    <div class="wrapper">
        <div class="new-container">
            <div class="title-section">
                <h2 class="title">Reset Password</h2>
                <p class="desc">Please reset carefully</p>
            </div>
            <form method="POST" action="{% url 'change_password' %}" enctype="multipart/form-data" class="form">
                {% csrf_token %}

                <div class="input-group form-control">
                    {{ form.as_p }}
                </div>
                <input type="submit" value="Update">
            </form>
        </div>
    </div>

</body>

</html>